<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Addin</Name><AddInID>{53bf0382-395d-4dae-969b-76dc8ab7077f}</AddInID><Description>NEW ADDINS</Description><Version>0.1</Version><Image /><Author>TOBY ZHANG</Author><Company>BCIT</Company><Date>02/20/2017</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="mod6assign_addin.py" namespace="mod6assign_addin"><ArcMap>
    <Commands>
        <ComboBox caption="Delete Layer" category="Python Addin" class="delLayer" id="mod6assign_addin.delLayer" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip=""><Help heading="" /></ComboBox>
        <ComboBox caption="Add Layer" category="Python Addin" class="addLayer" id="mod6assign_addin.addLayer" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip=""><Help heading="" /></ComboBox>
        <Button caption="PDF Maker" category="Python Addin" class="pdfMake" id="mod6assign_addin.pdfMaker" image="Images\AddInDesktop64.png" message="" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Toolbar" category="Python Addin" id="mod6assign_addin.toolbar" showInitially="true"><Items><ComboBox refID="mod6assign_addin.delLayer" /><ComboBox refID="mod6assign_addin.addLayer" /><Button refID="mod6assign_addin.pdfMaker" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>